* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(4, 86, 100);
    
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4, auto);
}

.contenedor > div  {
    background-color: cyan;
    padding: 20px;
    border-radius: 10px;
}

.contenedor .header {
    background-color: rgb(4, 86, 100);
    color: rgb(247, 0, 0);
    grid-column-start: 1;
    grid-column-end: 4;
    border-radius: 10px;

}
.contenedor .contenido {
    font-size: 130%;
    grid-column: span 2;
    background-color: rgb(4, 86, 100);
    color: rgb(255, 255, 255);
    border-radius: 26px;
}

.contenedor .sidebar {
    background-color: rgb(0, 0, 0);
    color: white;
    grid-row: span 2;
    border-radius: 10px;
    font-size: 55px;
}

.contenedor .widget-1,
.contenedor .widget-2 {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: smaller;
}

.contenedor .footer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    grid-column: span 3;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    body {
        background-color: rgb(0, 0, 0);
    }
    .contenedor .contenido {
        grid-column: 1 / -1;
    }

    .contenedor .sidebar {
        grid-column: 1 / -1;
    }

    .contenedor .widget-1 {
        grid-column: span 2;
    }
}
.sidebar {
    background-image: url("xd.png");
    background-size: cover;
}

.cabecera{
    color: #fff;
    height: 200px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    text-shadow: #111 0px 0px 10px;
  }

  .widget-1 {
    background-image: url("liderazgo.jpg");
    background-size: cover;
}

.cabecera{
    color: #fff;
    height: 200px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    text-shadow: #111 0px 0px 10px;
  }

  .widget-2 {
    background-image: url("leader.png");
    background-size: cover;
}

.cabecera{
    color: rgb(0, 0, 0);
    height: 200px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    text-shadow: #111 0px 0px 10px;
  }

  .footer h3 {
      text-align: center;
  }

h1 {
    font-family: 'Itim', cursive;
}
.widget-3 {
    background-image: url("act.jpg");
    background-size: cover;

}

.cabecera{
    color: rgb(0, 0, 0);
    height: 200px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px;
  }
  .widget-4 {
    background-image: url("freestock_2202451.jpg");
    background-size: cover;

}

.cabecera{
    color: rgb(0, 0, 0);
    height: 200px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px;
}


.widget-5 {
  background-image: url("xdnt.jpg");
  background-size: cover;

}

.cabecera{
  color: rgb(0, 0, 0);
  height: 200px;
  line-height: 200px;
  text-align: center;
  vertical-align: middle;
  text-shadow: rgb(0, 0, 0) 0px 0px 10px;
}


.widget-6 {
  background-image: url("finenmente.jpg");
  background-size: cover;
  color: #fff;

}

.cabecera{
  color: rgb(0, 0, 0);
  height: 200px;
  line-height: 200px;
  text-align: center;
  vertical-align: middle;
  text-shadow: rgb(0, 0, 0) 0px 0px 10px;
}

.widget-7 {
    background-image: url("cuadrantes.jpg");
    background-size: cover;
    color: #fff;
  
  }
  
  .cabecera{
    color: rgb(0, 0, 0);
    height: 200px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px;
  }

  .widget-8 {
    background-image: url("xds.jpg");
    background-size: cover;
    color: rgb(0, 0, 0);
  
  }
  
  .cabecera{
    color: rgb(0, 0, 0);
    height: 200px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px;
  }

  .widget-9 {
    background-image: url("persona.jpg");
    background-size: cover;
    color: rgb(0, 0, 0);
  
  }
  
  .cabecera{
    color: rgb(0, 0, 0);
    height: 200px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px;
  }

  .widget-10 {
    background-image: url("xds.jpg");
    background-size: cover;
    color: rgb(0, 0, 0);
  
  }
  
  .cabecera{
    color: rgb(0, 0, 0);
    height: 200px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px;
  }

  .widget-11 {
    background-image: url("compreder.jpg");
    background-size: cover;
    color: rgb(0, 0, 0);
  
  }
  
  .cabecera{
    color: rgb(0, 0, 0);
    height: 200px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px;
  }

  .widget-12 {
    background-image: url("xds.jpg");
    background-size: cover;
    color: rgb(0, 0, 0);
  
  }
  
  .cabecera{
    color: rgb(0, 0, 0);
    height: 200px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px;
  }

  .widget-13 {
    background-image: url("sinergizar.png");
    background-size: cover;
    color: rgb(0, 0, 0);
  
  }
  
  .cabecera{
    color: rgb(0, 0, 0);
    height: 200px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px;
  }

  .widget-14 {
    background-image: url("xds.jpg");
    background-size: cover;
    color: rgb(0, 0, 0);
  
  }
  
  .cabecera{
    color: rgb(0, 0, 0);
    height: 200px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px;
  }

  .widget-15 {
    background-image: url("GENTE-EFECTIVA.png");
    background-size: cover;
    color: rgb(0, 0, 0);
  
  }
  
  .cabecera{
    color: rgb(0, 0, 0);
    height: 200px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px;
  }

  .widget-16 {
    background-image: url("xds.jpg");
    background-size: cover;
    color: rgb(0, 0, 0);
  
  }
  
  .cabecera{
    color: rgb(0, 0, 0);
    height: 200px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px;
  }

  .widget-17 {
    background-image: url("fin.png");
    background-size: cover;
    color: rgb(0, 0, 0);
  
  }
  
  .cabecera{
    color: rgb(0, 0, 0);
    height: 200px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px;
  }

  .widget-18 {
    background-image: url("xds.jpg");
    background-size: cover;
    color: rgb(0, 0, 0);
  
  }
  
  .cabecera{
    color: rgb(0, 0, 0);
    height: 200px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px;
  }